body
{
  background-color: #EAF6F6;
}
h1,h2
{
  color: #66BFBF;
}
hr
{
  border-style:dotted none none;
  width: 80%;
  border-color: grey;
  border-width: 5px;
}
.kjimg
{
position: relative;
left:400px;
}
